DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=central_banking
DB_SCHEMA=public

VIEW_JPA=false

PORT=8080

HEALTHCHECK_ENDPOINT=/health

MIGRATION_URL=file://db/migration
RUN_MIGRATIONS=true

HCAU_SERVICE_ID=101
